@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700,800);
html {
    box-sizing: border-box;
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
body {
    height: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}
.wrapper {
    max-width: 1440px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    /* height: 200px; */
}
.header {
    height: 167px;
    padding: 24px 0 87px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}
.header__logo {

}
.header__btn {
    background: #13183F;
    border-radius: 28px;
    width: 167px;
    height: 56px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    flex-grow: 1;
}
.info {
}
.info__inner {
    display: flex;
}
.info__left {
    padding: 85px 228px 226px 0px;
    max-width: 685px;
}
.left__inner {
}
.left__title {
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
    margin-bottom: 29px;
}
.left__text {
    max-width: 445px;
    margin-bottom: 40px;
}
.left__btn {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    width: 167px;
    height: 63px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__right {
}
.right__inner {
    position: relative;
    width: 317px;
    height: 560px;
}
.right__line {
    width: 536px;
    height: 725px;
    background-image: url(../images/line.png);
    position: absolute;
    bottom: 0;
}
.right_girl {
    width: 317px;
    height: 560px;
    background-image: url(../images/girl.png), url(../images/bg-girl.png);
    position: absolute;
}
.right__cards {
    position: absolute;
    padding: 20px 24px 19px;
    background: #FFFFFF;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 15px;
    height: 120px;
}
.card-left {
    width: 199px;
    bottom: 98px;
    left: -120px;
}
.cards_title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 2px;
}
.cards__quantity {
    font-weight: 800;
font-size: 40px;
line-height: 50px;
color: #13183F;

}
.card-right {
    width: 155px;
    right: -118px;
    top: 103px;
}