@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700,800);
html {
    box-sizing: border-box;
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
body {
    height: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}
.wrapper {
    max-width: 1480px;
    background: #fff;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    /* height: 200px; */
}
.header {
    height: 167px;
    padding: 24px 0 87px;
}
.header__inner, .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}
.header__logo {

}
.header__btn, .footer__btn {
    background: #13183F;
    border-radius: 28px;
    width: 167px;
    height: 56px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    flex-grow: 1;
}
.info {
}
.info__inner {
    display: flex;
}
.info__left {
    padding: 85px 228px 226px 0px;
    max-width: 685px;
}
.left__inner {
}
.left__title {
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
    margin-bottom: 29px;
}
.left__text {
    max-width: 445px;
    margin-bottom: 40px;
}
.left__btn {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    width: 167px;
    height: 63px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__right {
}
.right__inner {
    position: relative;
    width: 317px;
    height: 560px;
}
.right__line {
    width: 536px;
    height: 725px;
    background-image: url(../images/line.png);
    position: absolute;
    bottom: 0;
}
.right_girl {
    width: 317px;
    height: 560px;
    background-image: url(../images/girl.png), url(../images/bg-girl.png);
    position: absolute;
}
.right__cards {
    position: absolute;
    padding: 20px 24px 19px;
    background: #FFFFFF;
    box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
    border-radius: 15px;
    height: 120px;
}
.card-left {
    width: 199px;
    bottom: 98px;
    left: -120px;
}
.cards_title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 2px;
}
.cards__quantity {
    font-weight: 800;
font-size: 40px;
line-height: 50px;
color: #13183F;

}
.card-right {
    width: 155px;
    right: -118px;
    top: 103px;
}

.courses {
    min-width: 888px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    padding-top: 24px;
}
.container {
}
.courses__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.courses__card {
    width: 350px;
    height: 322px;
    margin-bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
    padding: 64px 32px;
    position: relative;
}
.first_card {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
.first-card-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}
.card__inner {
    display: flex;
    flex-direction: column;
    min-height: 218px;
    justify-content: space-between;
}
.card__icon {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -24px; */
    position: absolute;
    left: 32px;
    top: -24px;
}
.card__title {
    /* margin-bottom: 24px; */
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
}
.card__text {
    /* margin-bottom: 24px; */
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}
.card__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
}
.footer {
    min-height: 120px;
    background: #13183F;
    padding: 32px 0px;
}

.footer__logo {
}
.footer__btn {
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}